/*.row{ border: 2px solid #0FBCF5; }
.columns{ border: 3px solid #FF0000;}*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?dif67f');
  src:  url('../fonts/icomoon.eot?dif67f#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dif67f') format('truetype'),
    url('../fonts/icomoon.woff?dif67f') format('woff'),
    url('../fonts/icomoon.svg?dif67f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sign-out:before {
  content: "\e900";
}
.icon-dollar:before {
  content: "\e901";
  color: #393939;
  font-size: 1.2rem;
}
.icon-bill:before {
  content: "\e901";
  color: #393939;
  font-size: 1.2rem;
}
.icon-money:before {
  content: "\e901";
  color: #393939;
  font-size: 1.2rem;
}
.icon-stack:before {
  content: "\e901";
  color: #393939;
  font-size: 1.2rem;
}
.icon-keyboard:before {
  content: "\e955";
  color: #393939;
  font-size: 1.2rem;
}
.icon-mobile:before {
  content: "\e958";
  color: #393939;
  font-size: 1.2rem;
}
.icon-user:before {
  content: "\e971";
  color: #393939;
  font-size: 1.2rem;
}

*{
	color: #FFFFFF;
}

label{
	color: #FFFFFF;	
}

#recarga-contenedor{
  /*border: 1px solid #7B7B7B;*/
  border: 2px solid #5da423;
	background-color: #2C304F;
  margin-top: 50px;/*para serparar de arriba*/
 /* padding: 20px 15px;*/
  box-shadow: 8px 12px 20px 8px rgba(12, 32, 77, 0.4);
	border-radius: 8px;
	z-index: 2;
  position: relative;
}

form{
	padding: 15px 10px;
}
.input-group-label{
	padding: 0 .5rem!important;
}
select, option{
	color: #000000;
}
#form img{
  margin-bottom: 5px;
  width: 15rem;
}

#valor-recarga{
	/*text-align: right;*/
}

.enviar{
  font-size: 1rem;
}

input{
  font-size: 1.5rem!important;
  text-align: center;
}

::-webkit-input-placeholder {
   font-size: 1rem;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 1rem;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 1rem;  
}

:-ms-input-placeholder {  
   font-size: 1rem;
}

/****SPINNER*******/
#spinner-container{
  background-color: rgba(44, 48, 79, 0.9);
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: 99; 
}

.mensaje{
  margin: 90px auto; 
  font-size: 1.8rem;
}

.loader,
.loader:before,
.loader:after {
  background: #6cbf28;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #6cbf28;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 15px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

