/*.row{ border: 1px solid #0FBCF5; }
.columns{ border: 2px solid #FF0000;}*/
/*********************************/
@font-face {
  font-family: 'icomoona';
  src:  url('../fonts/icomoona.eot?x4ks7b');
  src:  url('../fonts/icomoona.eot?x4ks7b#iefix') format('embedded-opentype'),
    url('../fonts/icomoona.ttf?x4ks7b') format('truetype'),
    url('../fonts/icomoona.woff?x4ks7b') format('woff'),
    url('../fonts/icomoona.svg?x4ks7b#icomoona') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icona-"], [class*=" icona-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoona' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icona-directv:before {
  content: "\e900";
}

/*********************************/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?o8atl0');
  src:  url('../fonts/icomoon.eot?o8atl0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?o8atl0') format('truetype'),
    url('../fonts/icomoon.woff?o8atl0') format('woff'),
    url('../fonts/icomoon.svg?o8atl0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-disconnected:before {
  content: "\e903";
}
.icon-warning:before {
  content: "\e902";
}
.icon-alert:before {
  content: "\e902";
}
.icon-keyboard:before {
  content: "\e955";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-user:before {
  content: "\e971";
}
.icon-key:before {
  content: "\e98d";
}
.icon-warning2:before {
  content: "\ea07";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-chain-broken:before {
  content: "\e904";
}
.icon-sign-out:before {
  content: "\e900";
}
.icon-dollar:before {
  content: "\e901";
}
.icon-bill:before {
  content: "\e901";
}
.icon-money:before {
  content: "\e901";
}
.icon-stack:before {
  content: "\e901";
}

i{
  font-size: 1.3rem;
  color: #2E2E2E;
}

*{
  color: #FFFFFF;
}

label{
  color: #FFFFFF; 
}

#recarga-contenedor{
  /*border: 1px solid #7B7B7B;*/
  border: 2px solid #5da423;
  background-color: #2C304F;
  margin-top: 30px;
 /* padding: 20px 15px;*/
  box-shadow: 8px 12px 20px 8px rgba(12, 32, 77, 0.4);
  border-radius: 8px;
  z-index: 2;
  position: relative;
}

form{
  padding: 15px 10px;
}

.blur{  
  -webkit-filter: blur(6px); transition: 0.2s;  
}

.nonBlur{
  -webkit-filter: blur(0px); transition: 0.2s;  
}

.input-group-label{
  padding: 0 .5rem!important;
  min-width: 3rem!important;
}
select, option{
  color: #000000;
  font-size: 1.1rem!important;
}
input{
  font-size: 1.5rem!important;
  text-align: center;
}

/**editando  los place holders**/
::-webkit-input-placeholder {
   font-size: 1rem;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 1rem;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 1rem;  
}

:-ms-input-placeholder {  
   font-size: 1rem;
}


#form img{
  margin-bottom: 5px;
  width: 15rem;
}

#valor-recarga{
  /*text-align: right;*/
}

.form-error i,
.form-error{
  font-size: .9em;
  color: #FC5F62;
  text-shadow: 0px 1px 2px #262626!important;
}

.enviar{
  font-size: 1rem;
}

.enviar i{
  color: #FFFFFF;
}

.iconocallout{
  min-height: 40%;
  padding: 6rem 0 1rem;
}

.iconocallout-dis{
  min-height: 40%;
  padding: 6rem 0 0rem;
}

.mensajecallout{
  min-height: 60%;
}

.spinner,
.container-bienvenida,
.error-mensaje,
.alerta-mensaje,
.mesaje-ok{
  display: none;  
}

.active{
  display: block;
  transition: 1.5s;
}

#mensaje-error i{
  color: red;
  font-size: 6rem;
}

#mensaje-alerta i{
  color: #ffae00;
  font-size: 6rem;
}

#menasaje-ok i{
  color: #5da423;
  font-size: 6rem;
}

#error-sistema i{
  color: red;
  font-size: 6rem;
}

i.icon-disconnected{
  font-size: 15rem;
  color: #ffae00;
}

.input-group-label-error {
  text-align: center;
  padding: 0 1rem;
  background: #e6e6e6;
  color: #0a0a0a;
  border: 1px solid #cacaca;
}

.is-invalid-input:not(:focus) {
  background-color: rgba(198, 15, 19, 0.4)!important;
  color: #FFF!important;
  border-color: #c60f13!important;
}

.is-invalid-input-warning:not(:focus) {
  background-color: rgba(228, 205, 101, 0.4)!important;
  color: #FFF!important;
  border-color: #E4CD65!important;
}

.is-invalid-label-warning {
  color: #CA8500; }

#error-sinpin,
#error-sinpin i{
  color: #E4CD65;
}

.fondoContenedor{
  background: #D2D2D2;
}
.fondoContenedor label
.fondoContenedor h4,
{
  color: #000000;
}


/****SPINNER*******/
/*Este contenedor es usado por todos los callout*/
.spinner-container{
  background-color: rgba(44, 48, 79, 0.90);
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: 99; 
}

.container-bienvenida{
  background-color: #000A7B;
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: 99; 
}

.imgInicio{
  margin-top: 12rem;
  width: 18rem;
}

#spinner .iconocallout{
  padding: 6rem 0 1rem;
  min-height: 5%;
}
#spinner .mensajeproceso{
  min-height: 55%;
}
#spinner .iconocallout h3{
  padding-top: 2rem;
  font-size: 1.5rem;
}

.loader,
.loader:before,
.loader:after {
  background: #6cbf28;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #6cbf28;
  text-indent: -9999em;
  margin: 40px auto;
  position: relative;
  font-size: 15px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}

.copy p{
  margin-bottom: .5em;
  font-size: .45em;
}

.copy a{
  text-decoration: none;
}
.copy a:visited{
  color: #FFF;
}


@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
/***end spinner***/

